/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/

.w3-white {
    background-color: #ffe0e7 !important;
}

.w3-button:hover {
    color: #e25488 !important;
    font-weight: bold;
    background-color: #ffe0e7 !important;
}

.w3-padding-32 {
    padding-bottom: 0px !important;
}

fieldset, label {
    padding: 0;
    align-items: center;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#interactive-introduction {
    text-align:center;
    margin: auto;
}

#answer{
    text-align:center;
    margin: auto;
    position: relative;
    /* left: 20%; */
}

/****** Style Star Rating Widget *****/

.rating {
    align-items: center;
    border: none;
    margin: 10px;
    display: inline-block;
    overflow: auto;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 10px;
    font-size: 6.55em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f182";
}

.rating > label {
    color: #58adf2;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #e25488;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: rgba(251, 12, 10, 0.28);  }

body {
  font-family: 'Roboto', sans-serif;
}

/*h1 {*/
  /*font-weight: 500;*/
  /*font-size: 30px;*/
  /*margin-top: 100px;*/
  /*margin-bottom: 20px;*/
  /*text-align: center;*/
/*}*/

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

/*h2 {*/
    /*font-weight: 300;*/
    /*font-size: 20px;*/
    /*margin-top: 50px;*/
    /*!*margin-bottom: 20px;*!*/
    /*text-align: center;*/
/*}*/

/*h3 {*/
    /*font-weight: 100;*/
    /*font-size: 15px;*/
    /*!*margin-top: 50px;*!*/
    /*margin-bottom: 20px;*/
    /*text-align: center;*/
/*}*/

h3 {
    color: #e25488;
}

#ivy-league-map {
    width: 500px;
    height: 500px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.container-fluid {
    width: 1400px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.row {
    width: 1400px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

#text1 {
    font-weight: 200;
}

#text2 {
    font-weight: 200;
}

#text3 {
    font-size: 200%;
    font-weight: 200;
}

/*Timeline tooltip CSS*/
.d3-tip, .tooltip {
    width: 250px;
    position: absolute;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.female{
    color: #e25488;
width:50px;
}

.male{
    color: #58adf2;
    size:30px;
    width:50px;
}

.answerLine{
    font-size:25px;
}

#ivy-league-map {
    z-index: 0;
}


#timelineStuff {
    width: 100%;
    margin: auto;
    text-align: center;
}

.d3-tip, .tooltip {
    width: 250px;
    position: absolute;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

#timeline-description {
    width: 60%;
    height: 200px;
    margin: auto;
    text-align: center;
}

#description {
    font-size: 20px;
}

#moreDetail {
    font-size: 16px;
}

/*****Carousel CSS*****/

.intro-responses {
    padding-left: 16px;
}

.carousel-inner {
    width:100%;
    height: 250px !important;
}

.carousel-control {
    width: 5% !important;
}

.glyphicon-chevron-left {
    color: lightpink;
}

.glyphicon-chevron-right {
    color: lightpink;
}

.glyphicon-chevron-left {
    color: lightpink;
}

.glyphicon-chevron-right {
    color: lightpink;
}


#survey {
    text-align: center;
}

#about {
    padding-left: 16px;
}
.about{
    padding-left: 16px;
}
